<li id="post-<%= post.id %>">
  <div>
    <h2><%= post.courseName %></h2>
    <ul>
      <li><%= post.courseCode %></li>
      <li><%= post.description %></li>
      <li>Posted <%= time_ago_in_words(post.created_at) %> ago.</li?
    </ul>
  </div>
</li>


