<li id="post-<%= post.id%>">
  <div>
    <h2><%= link_to post.courseName + " " + post.courseCode, :controller => "posts", :action => :show, :post => post.id %></h2>
    <ul>
        <li>Posted <%= time_ago_in_words(post.created_at) unless post.created_at.blank? %> ago.
            <% if  (current_user.present? && current_user.id == post.user_id) || current_user.isAdmin %>
              <%= link_to "Edit", posts_edit_path(post_id: post.id), class: "btn-xs btn-primary" %>
              <%= link_to "Delete", post, method: :delete, class: "btn-xs btn-danger", data: { confirm: "You sure?" } %>
              <% end %>
        </li>
    </ul>
  </div>
</li>


