<br><br><br>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>


<div id='post_show'>
    <% if params[:post] %>
        <% @post = Post.find(params[:post]) %>
    <% elsif params[:id]%>
        <% @post = Post.findBy(params[:id]) %>
    <% end %>

   
<div class="row">
    <aside class="col-md-4">
        <br>
         <%= image_tag User.find(@post.user_id).image.url(:medium) %>
         <br><br>
        <div style="width:155px;">
        <% receiptientID = @post.user_id %>
        <% subject = "Inquiry about \"" + @post.courseName + " " + @post.courseCode + "\"" %>
        <%= link_to "Send message to me", { :controller => "conversations", 
            :action => "new", 
            :receiptientID => receiptientID, 
            :subject => subject},
            class: "btn btn-primary" %>
        </div>
    </aside>
    <h2><%= @post.courseName %></h2>
    <h6><%= @post.courseCode %>, <%= @post.department %>, $<%= @post.price %> per hour
        - Posted by <%= User.find(@post.user_id).name %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <% if current_user.present? && current_user.id == @post.user_id %>
              <%= link_to "Edit", posts_edit_path(post_id: @post.id), class: "btn-xs btn-primary" %>
              <%= link_to "Delete", @post, method: :delete, class: "btn-xs btn-danger", data: { confirm: "You sure?" } %>
              <% end %>
    </h6>


    <div class="col-md-8">
    <hr>
    <p><%= @post.description %></p>
    <% if logged_in? %>

    <% end %>
    <br><br>
    <h2>Comments</h2>
    <% @feedbacks = Feedback.search(@post.id) %>
    <% @feedbacks.each do |feedback| %>
        <%= render 'shared/comment', :feedback => feedback %>
    <% end %>
    
    <%= render 'shared/write_comments' %>
     </aside>
</div>
</div>