<br><br><br>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<div id='post_show'>
    <% if params[:post] %>
        <% @post = Post.find(params[:post]) %>
    <% elsif params[:id]%>
        <% @post = Post.findBy(params[:id]) %>
    <% end %>
    <h2><%= @post.courseName %></h2>
    <h6><%= @post.courseCode %>, <%= @post.department %>, $<%= @post.price %> per hour</h6>
    <hr>
    <p><%= @post.description %></p>
    <% if logged_in? %>
    <div style="width:155px;">
        <% receiptientID = @post.user_id %>
        <% subject = "Inquiry about \"" + @post.courseName + " " + @post.courseCode + "\"" %>
        <%= link_to "Send message to me", { :controller => "conversations", 
            :action => "new", 
            :receiptientID => receiptientID, 
            :subject => subject},
            class: "btn btn-primary" %>
    </div>
    <% end %>
    <br><br>
    <h2>Comments</h2>
    <% @feedbacks = Feedback.search(@post.id) %>
    <% @feedbacks.each do |feedback| %>
        <%= render 'shared/comment', :feedback => feedback %>
    <% end %>
    
    <%= render 'shared/write_comments' %>
</div>