<br><br><br>

<% @post = Post.find(params[:post]) %>
<h2><%= @post.courseName %></h2>
<h6><%= @post.courseCode %>, <%= @post.department %></h6>
<h2><%= @post.description %></h2>
<h2>contact me: <%= User.find(@post.user_id).email %></h2>
<p><%= @post.price %> per hour</p>

<br><br>
<h1><%= @post.user_id %></h1>
<% @feedbacks = Feedback.search(@post.id) %>
<% @feedbacks.each do |feedback| %>
    <%= render 'shared/comment', :feedback => feedback %>
    <br>
<% end %>


<%= render 'shared/write_comments' %>