<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "@Tutor", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", :controller => :welcome, :action => :about %></li>
        <% if logged_in? %>
          <li><%= link_to "Post Your Ad", :controller => :posts, :action => :new %></li>
          <% if unread_messages_count == 0%>
            <li><%= link_to "Inbox", mailbox_inbox_path %></li>
          <% else %>
            <li><%= link_to "Inbox".html_safe, mailbox_inbox_path %></li>
            <li><%= link_to "#{image_tag("mail_new_icon", :size => '25x22')}".html_safe, mailbox_inbox_path, :class => "blink-image" %></li>
          <% end %>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <% if current_user.isAdmin %>
                <li><%= link_to "Administrator Entry", {:controller => "admin", :action => "show"} %></li>
              <% end %>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "Sign up", :controller => :users, :action => :new %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>